.container {
  @apply flex justify-between mt-10 gap-x-3;

  input {
    @apply w-full text-gray-800 h-14 px-3 py-4 rounded-[8px] border;
    @apply focus:outline-[#FF5350] transition-all duration-200 hover:border-gray-400;
    box-shadow: 1px 2px 12px rgba($color: #000000, $alpha: 0.3);
  }

  button {
    @apply bg-[#FF5350] text-white w-14  rounded-[8px] text-3xl;
    @apply flex justify-center items-center disabled:opacity-50 disabled:cursor-not-allowed;
    @apply hover:opacity-90 disabled:hover:opacity-50;
  }

  button:hover:disabled {
    svg {
      @apply rotate-0;
    }
  }

  button:hover {
    svg {
      @apply rotate-12 transition-all;
    }
  }
}
